01-docker-terraform/.ipynb_checkpoints/
01-docker-terraform/data/
01-docker-terraform/terraform_creds/*
!01-docker-terraform/terraform_creds/*.tf
01-docker-terraform/green_tripdata_2019-09.csv.gz
01-docker-terraform/output.csv.gz
01-docker-terraform/pipeline.py
01-docker-terraform/taxi+_zone_lookup.csv
01-docker-terraform/test_ingest_data.py
